<div>
  <div class="container sidebar">
    
    <div class="sidebar-about">
      <h2><a class="">Ahsan Anis</a></h2>
      <p style="font-size:15qpx">
      <a>Data Scientist | Writer  
         </a><br />
      <i class="lead">aitchisonian2005@gmail.com</i>
      </p>
      <center></center><img src="/assets/images/profile.png" alt="profile picture" class="responsive"></center>
    </div>

    <div class="sidebar-nav">
      <a class="sidebar-nav-item" href="/index.html" {% if page.active == 'about' %}style="font-weight:bold"{% endif %}>About</a>
      <a class="sidebar-nav-item" href="/blog.html" {% if page.active == 'blog' %}style="font-weight:bold"{% endif %}>Blog</a>
<!--      <a class="sidebar-nav-item" href="/blog.html" {% if page.active == 'tag' %}style="font-size:16px;font-weight:bold"{% else %}style="font-size:16px"{% endif %}> - Tags</a> -->
      <a class="sidebar-nav-item" href="/projects.html" {% if page.active == 'projects' %}style="font-weight:bold"{% endif %}>Projects</a>
      
    </div>


<div id="social">
    {% include social.html %}
</div>

<div>
    <br>
</div>

  </div>
</div>
